@tailwind base;
@tailwind components;
@tailwind utilities;




*,
*:after,
*:before {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: Karla, sans-serif;
  font-size: 1rem;
  line-height: 1.5;
  color: #495e57;
}



a {
  text-decoration: none;
  color: #495e57;
}

h1,
h2 {
  line-height: 1;
  font-family: "Markazi Text";
  font-weight: normal;
}

h1 {
  font-size: 3.5rem;
  color: #f4ce14;

}

h2 {
  font-size: 2.5rem;
  color: #495e57 !important;

}

h2.speicals{

}

h3 {
  line-height: 1;
  font-family: "Markazi Text";
  font-weight: normal;
  letter-spacing: 0.1rem;
}

label {
  width: fit-content;
  cursor: pointer;
}

input,
select {
  width: 100%;
  padding: 0 0.5rem;
  outline: none;
  border-radius: 0.375rem;
  background: #ffffff;
  color: #495e57;
  cursor: pointer;
}

select {
  -webkit-appearance: none;
  appearance: none;
}

input:focus,
select:focus {
  border: 1px solid #495e57;
}

label {
  font-weight: bold;
}

.card {
background-color:  rgb(237, 239, 238);}


img {
  max-width: 100%;
}

.container {
  max-width: 61.75rem;
  width: 90%;
  margin: 0 auto;
}

.grid {
  display: grid;
}

.btn {
  padding: 0.75rem 1rem;
  border-radius: 2rem;
  background-color: #f4ce14;
  color: #3d3d3d;
  font-weight: bold;
  text-transform:uppercase;
}

.btn:hover,
.btn:focus {
  background-color: #00000096;
  border-color: #495e57;
  color: #ffffff;
}

.banner{
  background-color: #495e57;

}


footer{
  background-color:  rgb(237, 239, 238);

}

.final-footer{
  background-color: #495e57;
  color: #ffffff;


}